<footer>

    <div class="foot">

      <address>
        Minna Lehtinen <br />
        Vaskihuhdantie 1-3 <br />
        00730 Helsinki Finland <br />
        P: (+358 555 8858 999) <br />
        first.last@example.com <br />
        </address>
        <a href="tietosuojaseloste.html" target="_blank">Tietosuojaseloste</a><br />
        <br />
        <small>&copy; 2020 MLEfan81</small>
        <br />

      </div>

  </footer>



  <!-- ensin jQuery, sitten bootstrap js -->
<script src="/public/vendor/jquery-3.4.1.js"></script>
<script src="/public/vendor/bootstrap-4.4.1-dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>